#
# File: wag-about-ashton/.gitignore
# Author: Ashton Hellwig <ahellwig.dev@gmail.com>
#

## Languages

### Node/JavaScript
node_modules/
npm-debug.log

### Elm
elm-stuff/


## Editor
.vscode/*
!.vscode/*.code-workspace
.idea
tree.md
*.idea
